.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field {
  display: block;
  margin-bottom: 1em;
  zoom: 1;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field:before {
  content: '';
  display: block;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field > label {
  display: block;
  margin-bottom: 5px;
  
  text-align: left;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field > label.sow-form-field-label-left {
  float: left;
  margin-right: 10px;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field > label.sow-form-field-label-right {
  float: right;
  margin-left: 10px;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field .sow-field-container {
  overflow: hidden;
  display: block;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field .sow-field-container textarea:focus,
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field .sow-field-container input:focus,
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field .sow-field-container > :focus {
  outline-style: solid;
  
  outline-width: 1px;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field textarea,
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field input.sow-text-field {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 0;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field.sow-form-field-checkboxes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field.sow-form-field-checkboxes ul li {
  margin: 0;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field.sow-form-field-checkboxes ul label {
  margin-bottom: 0;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field.sow-form-field-checkboxes ul input {
  float: left;
  margin: 0.4em 0.5em 0 0;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-form-field .sow-form-field-description {
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  color: #999999;
  font-style: italic;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-contact-form {
  padding: 70px;
  border: #c0c0c0 solid 1px;
  background-color: #f2f2f2;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-contact-form .sow-error {
  background: #fce4e5;
  border: 1px solid #ec666a;
  color: #ec666a;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.8em;
  list-style: none;
  margin: 0 0 10px 0;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-contact-form .sow-error li {
  margin: 0;
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-contact-form .sow-submit-styled .sow-submit {
  color: #5a5a5a;
  background: #ffffff;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#d5d5d5),color-stop(1,#ffffff));
  background: -ms-linear-gradient(bottom,#d5d5d5,#ffffff);
  background: -moz-linear-gradient(center bottom,#d5d5d5 0%,#ffffff 100%);
  background: -o-linear-gradient(#ffffff,#d5d5d5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d5d5d5', GradientType=0);
  border: 1px solid #989a9c;
  border-radius: 3px;
  font-weight: 500;
  
  padding: 10px 20px;
  display: inline-block;
  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
}
.so-widget-sow-contact-form-default-248e954e0cb5 .sow-contact-form .sow-submit-styled .sow-submit:disabled {
  color: #dadada;
  background: #ffffff;
  border: 1px solid #cccdce;
}