.so-widget-sow-headline-default-4f070d7bb398 .sow-headline-container h1.sow-headline {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #8c8c8c;
  line-height: 1.4em;
  font-size: 25px;
  
  
}
.so-widget-sow-headline-default-4f070d7bb398 .sow-headline-container h3.sow-sub-headline {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #8c8c8c;
  line-height: 1.4em;
  
  
  
}
.so-widget-sow-headline-default-4f070d7bb398 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.so-widget-sow-headline-default-4f070d7bb398 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px none #EEEEEE;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-4f070d7bb398 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-4f070d7bb398 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}