.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field {
  display: block;
  margin-bottom: 1em;
  zoom: 1;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field:before {
  content: '';
  display: block;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field > label {
  display: block;
  margin-bottom: 5px;
  
  text-align: left;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field > label strong {
  
  color: #353535;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field > label.sow-form-field-label-left {
  float: left;
  margin-right: 10px;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field > label.sow-form-field-label-right {
  float: right;
  margin-left: 10px;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field .sow-field-container {
  overflow: hidden;
  display: block;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field .sow-field-container textarea:focus,
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field .sow-field-container input:focus,
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field .sow-field-container > :focus {
  outline-style: solid;
  
  outline-width: 1px;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field textarea,
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field input.sow-text-field {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-radius: 0;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field.sow-form-field-checkboxes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field.sow-form-field-checkboxes ul li {
  margin: 0;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field.sow-form-field-checkboxes ul label {
  margin-bottom: 0;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field.sow-form-field-checkboxes ul input {
  float: left;
  margin: 0.4em 0.5em 0 0;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-form-field .sow-form-field-description {
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  color: #999999;
  font-style: italic;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-contact-form {
  padding: 25px;
  border: #001116 solid 1px;
  background-color: #ffffff;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-contact-form .sow-error {
  background: #fce4e5;
  border: 1px solid #ec666a;
  color: #ec666a;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.8em;
  list-style: none;
  margin: 0 0 10px 0;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-contact-form .sow-error li {
  margin: 0;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-contact-form .sow-submit-styled .sow-submit {
  color: #5a5a5a;
  background: #eeeeee;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#eeeeee),color-stop(1,#eeeeee));
  background: -ms-linear-gradient(bottom,#eeeeee,#eeeeee);
  background: -moz-linear-gradient(center bottom,#eeeeee 0%,#eeeeee 100%);
  background: -o-linear-gradient(#eeeeee,#eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
  border: 1px solid #989a9c;
  border-radius: 0px;
  font-weight: 500;
  
  padding: 15px 30px;
  display: inline-block;
}
.so-widget-sow-contact-form-default-fa635e9b1bb0 .sow-contact-form .sow-submit-styled .sow-submit:disabled {
  color: #dadada;
  background: #ffffff;
  border: 1px solid #cccdce;
}