.so-widget-sow-social-media-buttons-atom-0388db1892f8 .social-media-button-container {
  zoom: 1;
  text-align: center;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-facebook {
  color: #ffffff !important;
  background: #3a5795;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#2c4270),color-stop(1,#3a5795));
  background: -ms-linear-gradient(bottom,#2c4270,#3a5795);
  background: -moz-linear-gradient(center bottom,#2c4270 0%,#3a5795 100%);
  background: -o-linear-gradient(#3a5795,#2c4270);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a5795', endColorstr='#2c4270', GradientType=0);
  border: 1px solid;
  border-color: #273b65 #25375e #203053 #25375e;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #3d5b9c;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#2f4678),color-stop(1,#3d5b9c));
  background: -ms-linear-gradient(bottom,#2f4678,#3d5b9c);
  background: -moz-linear-gradient(center bottom,#2f4678 0%,#3d5b9c 100%);
  background: -o-linear-gradient(#3d5b9c,#2f4678);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d5b9c', endColorstr='#2f4678', GradientType=0);
  border-color: #2a3f6d #273b65 #23355a #273b65;
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-google-plus {
  color: #ffffff !important;
  background: #dd4b39;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#c23321),color-stop(1,#dd4b39));
  background: -ms-linear-gradient(bottom,#c23321,#dd4b39);
  background: -moz-linear-gradient(center bottom,#c23321 0%,#dd4b39 100%);
  background: -o-linear-gradient(#dd4b39,#c23321);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#c23321', GradientType=0);
  border: 1px solid;
  border-color: #b52f1f #ac2d1e #9f2a1b #ac2d1e;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-google-plus:visited,
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-google-plus:active,
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-google-plus:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-google-plus.ow-button-hover:hover {
  background: #de5342;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ca3523),color-stop(1,#de5342));
  background: -ms-linear-gradient(bottom,#ca3523,#de5342);
  background: -moz-linear-gradient(center bottom,#ca3523 0%,#de5342 100%);
  background: -o-linear-gradient(#de5342,#ca3523);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de5342', endColorstr='#ca3523', GradientType=0);
  border-color: #bd3221 #b52f1f #a82c1d #b52f1f;
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-envelope {
  color: #ffffff !important;
  background: #99c4e6;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#70acdc),color-stop(1,#99c4e6));
  background: -ms-linear-gradient(bottom,#70acdc,#99c4e6);
  background: -moz-linear-gradient(center bottom,#70acdc 0%,#99c4e6 100%);
  background: -o-linear-gradient(#99c4e6,#70acdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99c4e6', endColorstr='#70acdc', GradientType=0);
  border: 1px solid;
  border-color: #64a5d9 #5ca0d7 #4f99d4 #5ca0d7;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-envelope:visited,
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-envelope:active,
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-envelope:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-envelope.ow-button-hover:hover {
  background: #a1c9e8;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#78b1de),color-stop(1,#a1c9e8));
  background: -ms-linear-gradient(bottom,#78b1de,#a1c9e8);
  background: -moz-linear-gradient(center bottom,#78b1de 0%,#a1c9e8 100%);
  background: -o-linear-gradient(#a1c9e8,#78b1de);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1c9e8', endColorstr='#78b1de', GradientType=0);
  border-color: #6caadb #64a5d9 #579ed6 #64a5d9;
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-wordpress {
  color: #797979 !important;
  background: #222222;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#090909),color-stop(1,#222222));
  background: -ms-linear-gradient(bottom,#090909,#222222);
  background: -moz-linear-gradient(center bottom,#090909 0%,#222222 100%);
  background: -o-linear-gradient(#222222,#090909);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#090909', GradientType=0);
  border: 1px solid;
  border-color: #050505 #000000 #000000 #000000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-wordpress:visited,
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-wordpress:active,
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-wordpress:hover {
  color: #797979 !important;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button-wordpress.ow-button-hover:hover {
  background: #272727;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#0e0e0e),color-stop(1,#272727));
  background: -ms-linear-gradient(bottom,#0e0e0e,#272727);
  background: -moz-linear-gradient(center bottom,#0e0e0e 0%,#272727 100%);
  background: -o-linear-gradient(#272727,#0e0e0e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272727', endColorstr='#0e0e0e', GradientType=0);
  border-color: #0a0a0a #050505 #000000 #050505;
  color: #7e7e7e;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button {
  font-size: 1em;
  padding: 0.5em 0.5em;
  margin: 0.1em 0.05em 0.1em 0.05em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.so-widget-sow-social-media-buttons-atom-0388db1892f8 .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}