.so-widget-sow-cta-default-d8b5b01c468c .sow-cta-base {
  border-color: #E3E3E3;
  background-color: #F8F8F8;
}
.so-widget-sow-cta-default-d8b5b01c468c .sow-cta-base .sow-cta-text {
  float: left;
}
.so-widget-sow-cta-default-d8b5b01c468c .sow-cta-base .so-widget-sow-button {
  float: right;
  margin-left: 1em;
}