.so-widget-sow-slider-default-43e53ddb1e0a .sow-slider-base .sow-slider-pagination li a {
  background: #FFFFFF;
}
.so-widget-sow-slider-default-43e53ddb1e0a .sow-slider-base .sow-slide-nav {
  font-size: 40px;
}
.so-widget-sow-slider-default-43e53ddb1e0a .sow-slider-base .sow-slide-nav a {
  color: #FFFFFF;
}