.so-widget-sow-button-atom-0cc314d7fb29 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #001116;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#000000),color-stop(1,#001116));
  background: -ms-linear-gradient(bottom,#000000,#001116);
  background: -moz-linear-gradient(center bottom,#000000 0%,#001116 100%);
  background: -o-linear-gradient(#001116,#000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001116', endColorstr='#000000', GradientType=0);
  border: 1px solid;
  border-color: #050505 #000000 #000000 #000000;
  color: #FFFFFF !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.so-widget-sow-button-atom-0cc314d7fb29 .ow-button-base a .sow-icon-image,
.so-widget-sow-button-atom-0cc314d7fb29 .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-atom-0cc314d7fb29 .ow-button-base a:visited,
.so-widget-sow-button-atom-0cc314d7fb29 .ow-button-base a:active,
.so-widget-sow-button-atom-0cc314d7fb29 .ow-button-base a:hover {
  color: #FFFFFF !important;
}
.so-widget-sow-button-atom-0cc314d7fb29 .ow-button-base a.ow-button-hover:hover {
  background: #001920;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#050505),color-stop(1,#001920));
  background: -ms-linear-gradient(bottom,#050505,#001920);
  background: -moz-linear-gradient(center bottom,#050505 0%,#001920 100%);
  background: -o-linear-gradient(#001920,#050505);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001920', endColorstr='#050505', GradientType=0);
  border-color: #0a0a0a #050505 #000000 #050505;
  color: #ffffff;
}